.app{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 30px;
   background-color: #130f40;
   height: 100vh;
}
.number__box{
   width: 200px;
   height: 200px;
   border: 2px solid #3d3d3d;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: #fff;
}
.title{
   color: #ddd;
   font-size: 60px;
   margin-top: 30px;
}
.count__buttons button{
   padding: 10px 30px;
   border-radius: 15px;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 22px;
   margin-left: 20px;
}
.count__buttons button:first-child{
   background-color: #EA2027;
}
.count__buttons button:last-child{
   background-color: #0097e6;
}
.number__active__buttons .btn{
   padding: 10px 10px;
   border: none;
   outline: none;
   margin-left: 5px;
   border-radius: 5px;
   cursor: pointer;
   background-color: #2C3A47;
   color: #fff;
}
